{% extends "base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Title of Final Project</h1>
  <p class="lead"><i>Subtitle of Project</i></p>

  <form class="form-horizontal" method="post" action="/visualization">
    <fieldset>
    <!-- Form Name -->
    <legend>Visualization</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Number</label>  
      <div class="col-md-4">
      <input id="textinput" type="number" name='number' placeholder="Select a year (2021/2022) for visualization" class="form-control input-md">
      </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Calculate</button> 
      

      </div>
    </div>
    </fieldset>
    </form>

</div>

{% endblock %}